@keyframes menu__card {
    0% {
        transform: translateX(-200);
        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes card__course {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}