// Animations cartes des menus

@keyframes menu__card {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    60% {
        transform: translateX(8px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes menu__card-desk {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    60% {
        transform: translateX(32px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

// Animations loader

@keyframes logosolid {
    0% {

        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

@keyframes logoempty {
    0% {
        opacity: 1;
    }


    100% {
        opacity: 0;
    }
}

@keyframes loader {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}