// Style de base

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;  
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
}