// Règles typographiques générales

* {
    font-family: 'Roboto', sans-serif;
}

.section-title {
    @include typo (24px, 700);
}

p {
    @include typo (18px, 300);
}

.card-title {
    @include typo (18px, 700);
    margin: 0;
}

.card-subtitle {
    @include typo (17px, 300);
    margin: 0;
    padding: 4px 0;
}

.menu-title {
    @include typo (28px, 400);
    font-family: shrikhand;
}

.card__title {
    @include typo (16px, 300);
    margin: 0;
}

.course--title {
    @include typo (18px, 500);
    margin-bottom: 4px;
    margin-top: 8px;
}

.course--subtitle {
    @include typo (15px, 300);
    margin-top: 0;
}