// Règles typographiques générales

* {
    font-family: 'Roboto', sans-serif;
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

p {
    font-weight: 300;
    font-size: 18px;
}

.card-title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

.card-subtitle {
    margin: 0;
    padding: 4px 0;
    font-weight: 300;
    font-size: 17px;
}