* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
}

a {
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

p {
  font-weight: 300;
  font-size: 18px;
}

.card-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}

.card-subtitle {
  margin: 0;
  padding: 4px 0;
  font-weight: 300;
  font-size: 17px;
}

header {
  width: 100%;
}
header .header__logo {
  width: 100%;
  height: 63px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
header .ctn-logo {
  text-align: center;
  width: 100%;
  height: 26px;
  margin: auto;
  position: relative;
}
header .ctn-logo img {
  height: 30px;
  width: 162px;
}
header .header__location {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  color: #353535;
  position: relative;
  z-index: -1;
}

footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
footer .logo {
  font-family: shrikhand;
  margin-top: 4px;
}
@media (min-width: 1024px) {
  footer .logo {
    margin-bottom: 4px;
  }
}
@media (min-width: 1024px) {
  footer .list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
footer ul {
  font-size: 16px;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 1024px) {
  footer ul {
    display: flex;
    flex-direction: row;
    margin-right: 56px;
  }
}
footer li {
  padding-bottom: 8px;
  padding-right: 12px;
  font-weight: 400;
}
footer a {
  color: white;
}
footer i {
  padding-right: 12px;
  font-size: 12px;
}
@media (min-width: 1024px) {
  footer {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 70px;
    padding-top: 32px;
  }
}

.btn {
  background: linear-gradient(0deg, #9356dc, #FF79DA);
  border-radius: 25px;
  height: 50px;
  width: 186px;
  color: white;
  font-size: 16px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
}
.btn:hover {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
  opacity: 0.85;
}

.card {
  width: 100%;
  height: 251px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 18px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
@media (min-width: 1024px) {
  .card {
    width: 45%;
    margin-bottom: 50px;
  }
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card a {
  color: black;
}
.card .card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  position: relative;
  padding: 0 16px;
  margin: auto;
}
.card .card__heart {
  width: 22px;
  height: 21px;
  font-size: 22px;
  display: block;
  position: absolute;
  bottom: 33px;
  right: 25px;
}

.card__badge {
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 29px;
  font-size: 14px;
  text-align: center;
  padding-top: 6px;
  border-radius: 2px;
  position: absolute;
  top: 13px;
  right: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.section-CTA {
  width: 100%;
  height: 290px;
  text-align: center;
  background-color: #F7F7F7;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .section-CTA {
    height: auto;
  }
}
.section-CTA h1 {
  margin-bottom: 0;
  padding: 0 48px;
}
.section-CTA p {
  margin-top: 8px;
  margin-bottom: 32px;
}
.section-CTA .btn--CTA {
  width: 218px;
}

.section-HowTo {
  padding: 20px 20px 50px 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .section-HowTo {
    padding: 30px 180px 50px 180px;
  }
}
@media (min-width: 1024px) {
  .section-HowTo .instruction__ctn {
    display: flex;
    flex-direction: row;
  }
}
.section-HowTo .section-title {
  padding-top: 8px;
  padding-bottom: 8px;
}

.HowTo__instruction {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 25px;
  margin-left: 20px;
  position: relative;
}
@media (min-width: 1024px) {
  .HowTo__instruction {
    width: 32%;
  }
}
.HowTo__instruction .instructions__chiffre {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 25px;
  left: -12px;
  border-radius: 60px;
  background-color: #9356dc;
  color: white;
  text-align: center;
  padding-top: 4px;
  font-size: 14px;
}
.HowTo__instruction .instructions__content {
  background-color: #F7F7F7;
  border-radius: 20px;
  width: 322px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 36px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.HowTo__instruction .instructions__content i {
  padding-right: 28px;
  color: #7e7e7e;
  font-size: 18px;
}
.HowTo__instruction .instructions__content .fa-store {
  color: #9356dc;
}

.section-cards {
  padding: 36px 20px;
  width: 100%;
  background-color: #F7F7F7;
}
@media (min-width: 1024px) {
  .section-cards {
    padding: 30px 12%;
  }
}
.section-cards .cards__ctn {
  width: 100%;
}
@media (min-width: 1024px) {
  .section-cards .cards__ctn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.icone-retour--menu {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20%;
  left: 2%;
}
.icone-retour--menu i {
  color: #353535;
}

/*# sourceMappingURL=style.css.map */
