
.rest-ctn {
    position: relative;
}

.photo img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        @media (min-width: 1024px) {
            height: 380px;
            object-fit: cover;
        }
    }

.menu {
    width: 100%;
    margin: 0;
    padding: 0 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -48px;
    background-color: $background-color;
    border-radius: 40px 40px 0 0;
    @media (min-width: 1024px) {
        width : 1020px;
        margin: auto;
    }
    &__title {
        width: 341px;
        padding-top: 16px;
        padding-left: 16px;
        position: relative;  
    }

    .menu__title i {
        @include heart ();
        bottom: 28px;
        &.heart--solid {
            @include heartsolid ();
            &:hover {
                opacity: 1;
            }
        }
    }
}






