// Typo

@mixin typo ($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

// shadow

@mixin shadow ($x: 0, $y: 4px, $blur : 10px, $spread : 0, $rgba : rgba(0, 0, 0, 0.25)) {
    box-shadow: ($x $y $blur $spread $rgba)
}


// Card

@mixin card ($width : 100%, $height : 251px, $radius : 15px, $background-color : white, $marginb: 18px, $x : 0, $y : 4px, $blur : 15px, $spread : 0, $rgba : rgba(0, 0, 0, 0.1), $position : relative) {
    width: $width;
    height: $height;
    border-radius: $radius;
    background-color: $background-color;
    margin-bottom: $marginb;
    @include shadow ($x, $y, $blur, $spread, $rgba);
    position: $position;
}

// Heart

@mixin heart ($font-size: 24px, $display: block, $position: absolute, $bottom: 32px, $right: 25px) {
    font-size:$font-size;
    display: $display;
    position: $position;
    bottom: $bottom;
    right: $right;
}

@mixin heartsolid ($color : transparent, $bg-clip : text, $direction : 180deg, $list-gradient-colors : $list-gradient-colors, $opacity : 0, $transition : opacity 400ms) {
    color: $color;
    background-clip: $bg-clip;
    -webkit-background-clip: $bg-clip;
    background-image: linear-gradient($direction, $list-gradient-colors);
    opacity: $opacity;
    transition: $transition;
}

@mixin card-menu ($width: 360px, $margint : 30px, $padding: (0 8px), $display: flex, $flex-dir : column, $align-it: flex-start) {
    width: $width;
    margin-top: $margint;
    padding: $padding;
    display: $display;
    flex-direction: $flex-dir;
    align-items: $align-it;
}