
// Couleurs

$main-color: #9356dc;
$secondary-color:#99E2D0;
$background-color: #F6F6F6;
$location-bg-color: #EAEAEA;
$btn-secondary-color: #FF79DA;
$footer-bg-color : #353535;

// Dégradés

$list-gradient-colors: $main-color, $btn-secondary-color;
