
// Couleurs

$main-color: #9356dc;
$secondary-color:#99E2D0;
$background-color: #F7F7F7;
$location-bg-color: #EAEAEA;
$btn-secondary-color: #FF79DA;

// Dégradés

$list-gradient-colors: $main-color, $btn-secondary-color;
