
// Couleurs

$main-color: #9356dc;
$secondary-color:#99E2D0;
$background-color: #D2D2D2;
$menu-bg-color: #F6F6F6;
$btn-secondary-color: #FF79DA;

// Dégradés

$list-gradient-colors: $main-color, $btn-secondary-color;
